@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #fff;
}

:root{
    --primary-color : #E27D60;
    --secondary-color : #85C7F2;
    --text-color : #333;
    --heading-color: #555;
    --button-hover-color: #F7EDE2;
}

hr{
    margin: 2rem 0rem;
}

/* container */

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
}

.link-primary{
    background-color: var(--primary-color);
    color: #fff;
}

.link-secondary{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: dodgerblue;
}

.link:hover{
    background-color: var(--button-hover-color);
}

/* lists */

.list-non-bullet{
    list-style: none;
    padding-inline-start: 0px;
}

.list-style-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav bar */

.navigation {
    background-color: var(--primary-color);
    color: white;
  }
  
  .nav-brand {
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
  
  .nav-pills {
    display: inline-block;
    margin-right: -4px; /* remove spacing between li elements */
  }
  
  .nav-pills > li {
    display: inline-block;
  }
  
  .link {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  
  .link:hover,
  .link-active {
    background-color: var(--button-hover-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
  }
  
  .container-nav {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* header */

.hero{
    padding: 2rem;
    text-align: center;
}

.hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero-head{
    color: var(--heading-color);
    font-weight: bold;
    font-size: 3rem;
}

/* section */

.section{
    padding: 2rem;
    text-align: center;
}

.gray-bg{
    color: #d7385e;
  background-image: linear-gradient(to right, #ffafbd, #ffc3a0);  
}

.fluid-bg{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    padding: 2rem;
    color: black;
background-image: linear-gradient(to right, #fbc2eb, #a18cd1);
}

/* footer */

.footer{
    text-align: center;
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    color: #fff;
}

.footer .link{
    color: #fff;
}

.footer .link:hover{
    background-color: var(--button-hover-color);
    color: var(--primary-color);
}

.footer-header{
    font-weight: bold;
    font-size: large;
}


.about-me {
    border: none; /* Remove the button border */
    background-color: #ff8c61; /* Set the background color to a darker orange color */
    color: #fff; /* Set the font color to white */
    padding: 5px 10px; /* Add some padding to create space */
    border-radius: 20px; /* Add some rounded corners */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    font-size: large;
  }
  
  .about-me:hover {
    background-color: #ffafbd;
  }